* {
  margin: 0;
  padding: 0;
}
#heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  font-family: cursive;
  color: white;
}
.cells {
  height: 80px;
  width: 80px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 60px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: aliceblue;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 252px;
  margin: auto;
  box-shadow: 0 0 0 4px rgb(255, 255, 255);
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#btn {
  padding: 10px 30px;
  background-color: rgb(14, 14, 123);
  color: white;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
#btn:hover {
  background-color: rgb(8, 8, 91);
}
#btn:active {
  background-color: rgb(5, 5, 51);
}
#status {
  text-align: center;
  font-size: 30px;
  color: white;
}
body {
  background-image: linear-gradient(to right, green, blue, red);
  background-size: cover;
  background-position: center;
}
